// Thessaloniki styles

.navbar{
  padding-right: 0;

  .navbar-brand{
    display: block;
    width: 400px;
    height: 76px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(asset-path('img/logo_MThess.png')) no-repeat center center transparent;

  }

}

.navbar-user  {
  color:black;
}
.okf-logo{
  width:120px;
}
.navbar-user > a {
  color:#1895ab;
}

header{
  background-color: white;
}

@include media-breakpoint-up(sm) {
  .navbar-user {
    margin-top: 2.5rem;
  }
}