// Thessaloniki styles

.navbar{
  padding-right: 0;

  .navbar-brand{
    display: block;
    width: 400px;
    height: 76px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(asset-path('img/site-logo-en.png')) no-repeat center center transparent;

  }

}

.navbar-user  {
  color:white;
}

.navbar-user > a {
  color:white;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
}

.home {

  .jumbotron{
    background-image: url(asset-path('img/white-tower.jpg'));
  }
}

@include media-breakpoint-up(sm) {
  .navbar-user {
    margin-top: 2.5rem;
  }
}
